<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration threshold="all" debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
	    <param name="Threshold" value="INFO"/>      
	    <param name="ImmediateFlush" value="true"/>
	    <param name="Target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d %-5p %x - %m%n"/>
		</layout>
	</appender>
	 <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="true"/>
       <param name="MaxFileSize" value="2048KB" />
      <param name="MaxBackupIndex" value="100" />  
      <param name="file" value="logs/appserver.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %-5p %c{2} %x - %m%n"/>
      </layout>
   </appender>
	
	<root>
	  <level value="INFO"/>
	  <appender-ref ref="Console"/>
	  <appender-ref ref="fileAppender"/>
	  	</root>
</log4j:configuration>
